<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap"
      rel="stylesheet"
    />

    <title>Matador de monstros</title>
  </head>
  <body>
    <div id="app">
      <div class="panel scores">
        <div class="score">
          <h1>Jogador</h1>
          <div class="life-bar">
            <div
              class="life"
              :class="{danger: playerLife < 20}"
              :style="{width: playerLife + '%'}"
            ></div>
          </div>
          <div>{{playerLife}}%</div>
        </div>
        <div class="score">
          <h1>Monstro</h1>
          <div class="life-bar">
            <div
              class="life"
              :class="{danger: monsterLife < 20}"
              :style="{width: monsterLife + '%'}"
            ></div>
          </div>
          <div>{{monsterLife}}%</div>
        </div>
      </div>
      <div class="panel result" v-if="hasResult">
        <div v-if="monsterLife == 0 " class="win">Você ganhou 😎</div>
        <div v-if="playerLife == 0 " class="lose">Você perdeu! 🥺</div>
      </div>
      <div class="panel buttons">
        <template v-if="running">
          <button class="btn attack" @click="attack(false)">Ataque</button>
          <button class="btn special-attack" @click="attack(true)">Ataque Especial</button>
          <button class="btn heal" @click="healandHurt">Curar</button>
          <button class="btn giveup" @click="running = false">Desistir</button>
        </template>
        <button v-else class="btn newgame" @click="startGame">Iniciar jogo</button>
      </div>
      <div class="panel logs" v-if="logs.length">
        <ul>
          <li v-for="log in logs"
            :class="log.cls"
            class="log">
            {{ log.text }}
          </li>
        </ul>
      </div>
    </div>

    <script src="app.js"></script>
  </body>
</html>
